# Ignore virtual environment
.venv/

# Ignore Word2Vec model file
GoogleNews-vectors-negative300.bin.gz

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore system files
Thumbs.db

# Ignore IDE settings (optional, if you don’t want to share PyCharm configs)
.idea/